.small_banner_bottom {
    width: 150px !important;
    padding: 20px !important;
    margin: 20px !important;
    border: 1px red !important;
}
.landingLayout2PageSection2C{  
   padding-left: 200px !important;
} 
 
