.small_banner_bottom {
    width: 350px !important;
    padding: 20px !important;
    margin: 20px !important;
    border: 1px red !important;
}


.homepage_howcanhelp{
    width: 350px !important;
    padding: 20px !important;
    margin: 20px !important;
    border: 1px red !important;
    background-color: blue !important;
}
